:root {
    --clr-white: hsl(0, 0%, 100%);
    --clr-black: hsl(0, 0%, 0%);
    --clr-gray: hsl(0, 0%, 55%);
    --clr-dark-gray: hsl(0, 0%, 41%);
    --primary-font: 'Alata', sans-serif;
    --secondary-font: 'Josefin Sans', sans-serif;
    scroll-behavior: smooth;
}

* {

    &,
    &::after,
    &::before {
        box-sizing: border-box;
        margin: 0;
        padding: 0;
    }
}

body {
    font-family: var(--primary-font);
    color: var(--clr-dark-gray);
    line-height: 1.5;
    font-weight: 400;
    font-size: 15px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: var(--clr-black);
    font-weight: 300;
    font-family: var(--secondary-font);
    line-height: 1.2;
}

h1 {
    font-size: clamp(36px, 9vw, 60px);
}

h2 {
    font-size: clamp(24px, 8vw, 40px);
}

h3 {
    font-size: clamp(20px, 5vw, 24px);
}

h4 {
    font-size: clamp(18px, 5vw, 20px);
}

h5 {
    font-size: clamp(16px, 5vw, 18px);
}

h6 {
    font-size: clamp(14px, 3vw, 15px);
}

a {
    color: var(--clr-black);
    transition: all 0.3s ease-in-out;
    text-decoration: none;

    &:hover {
        color: var(--clr-dark-gray);
    }
}

ul {
    list-style: none;
}

img {
    max-width: 100%;
    height: auto;
}

::selection {
    color: var(--clr-white);
    background-color: var(--clr-black);
}

button {
    background-color: transparent;
    border: none;
}